/* CSS - Cascading Style Sheets */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	background: url(bg.jpg) no-repeat;
	scrollbar-color: rgba(26, 26, 26, 0.5);
	scrollbar-width: thin;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

nav {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	background: #1A1A1A;
	padding: 20px 10px 20px 30px;
	border-radius: 45px 20px 45px 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 80px;
	width: 1326px;
	margin: 20px 0px 40px 20px;
	height: 100px;
}

#nav-title {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: white;
	align-items: center;
}

#nav-items {
	list-style: none;
}

.nav-item {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 22px;
	font-weight: 700;
	padding: 15px 20px 10px 20px;
	background: rgba(149, 157, 165, 0.2);
	display: inline-block;
	margin: 0px 20px 0px 0px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: rgba(149, 157, 165, 0.25) 0px 0px 0px 2px;
	transition: 0.3s;
}

.nav-item:hover {
	background: rgba(149, 157, 165, 0.3);
	box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 30px 3px;
}

#nav-item-active {
	cursor: default;
	background: rgba(149, 157, 165, 0.2);
	box-shadow: rgba(149, 157, 165, 0.25) 0px 0px 0px 2px;
}

#nav-item-active:hover {
	background: rgba(149, 157, 165, 0.2);
	box-shadow: rgba(149, 157, 165, 0.25) 0px 0px 0px 2px;
}

#nav-item-active-link {
	text-decoration: none;
	cursor: default;
	color: rgba(250, 250, 250, 0.5);
}

#skills-box {
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	box-shadow: rgba(20, 20, 20, 0.2) 0px 0px 4px;
	border-radius: 0px 50px 50px 0px;
	background: #1A1A1A;
	padding: 20px 40px 20px 40px;
	margin: 0px 0px 30px 0px;
	width: fit-content;
}

#skills-flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 600;
	padding: 0px 20px 0px 20px;
	margin: 0px 0px 40px 0px;
}

img[src="html-n-css-logo.jpg"] {
	border-radius: 100px;
}

img[src="js-logo.png"] {
	border-radius: 20px;
}

footer {
	background: rgba(149, 157, 165, 0.2);
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	width: 1326px;
	margin: 20px 0px 20px 20px;
	height: 100px;
	padding: 20px 10px 20px 30px;
	border-radius: 45px;
	box-shadow: rgba(149, 157, 165, 0.25) 0px 0px 0px 2px;
	transition: 0.3s;
}

#footer-copyright {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 32px;
	font-weight: 600;
	color: white;
}