/* CSS - Cascading Style Sheets */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	background: url(bg.jpg) no-repeat;
	scrollbar-color: rgba(26, 26, 26, 0.5);
	scrollbar-width: thin;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

nav {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	background: #1A1A1A;
	padding: 20px 10px 20px 30px;
	border-radius: 45px 20px 45px 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 80px;
	width: 1326px;
	margin: 20px 0px 40px 20px;
	height: 100px;
}

#nav-title {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: white;
	align-items: center;
}

#nav-items {
	list-style: none;
}

.nav-item {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 22px;
	font-weight: 700;
	padding: 15px 20px 10px 20px;
	background: rgba(149, 157, 165, 0.2);
	display: inline-block;
	margin: 0px 20px 0px 0px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: rgba(149, 157, 165, 0.25) 0px 0px 0px 2px;
	transition: 0.3s;
}

.nav-item:hover {
	background: rgba(149, 157, 165, 0.3);
	box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 30px 3px;
}

#nav-item-active {
	cursor: default;
	background: rgba(149, 157, 165, 0.2);
	box-shadow: rgba(149, 157, 165, 0.25) 0px 0px 0px 2px;
}

#nav-item-active:hover {
	background: rgba(149, 157, 165, 0.2);
	box-shadow: rgba(149, 157, 165, 0.25) 0px 0px 0px 2px;
}

#nav-item-active-link {
	text-decoration: none;
	cursor: default;
	color: rgba(250, 250, 250, 0.5);
}

#about-me-box {
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	box-shadow: rgba(20, 20, 20, 0.2) 0px 0px 4px;
	border-radius: 0px 50px 50px 0px;
	background: #1A1A1A;
	padding: 20px 40px 20px 40px;
	margin: 0px 0px 30px 0px;
	width: fit-content;
}

#about-me-flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#about-me-p {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	text-align: left;
	margin: 0px 0px 80px 20px;
	width: 900px;
	display: inline-block;
}

video[src="mario.webm"] {
	display: inline-block;
	border-radius: 20px;
	margin: 0px 0px 20px 100px;
}

#my-projects-title {
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: 500;
	color: #fff;
	margin: 0px 0px 30px 0px;
}

#my-projects-flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0px 0px 80px 0px;
}

.project-box {
	width: 300px;
	height: 250px;
	background: rgba(149, 157, 165, 0.2);
	border-radius: 15px 15px 30px 30px;
	box-shadow: rgba(149, 157, 165, 0.25) 0px 0px 0px 2px;
	transition: 0.3s;
}

.project-box:hover {
	background: rgba(149, 157, 165, 0.3);
	box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 30px 3px;
}

.project-image {
	border-radius: 15px 15px 0px 0px;
}

.project-title {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	color: white;
	display: inline-block;
	font-size: 30px;
	width: 300px;
}

#project-title-align-fix-line-1 {
	margin: 34.775px 0px 0px 0px;
}

#project-title-align-fix-line-2 {
	margin: 19.275px 0px 0px 0px;
}

#my-project-margin-right-all-fix {
	margin-right: 30px;
}

form {
	font-family: 'Rubik', sans-serif;
	font-size: 25px;
	font-weight: 600;
	color: white;
	padding: 0px 20px 0px 20px;
	margin: 0px 0px 60px 0px;
	width: fit-content;
}

input {
	width: 500px;
	height: 40px;
	padding: 10px 10px 10px 20px;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	background: transparent;
	border: 2px solid rgba(25, 25, 25, 1.0);
	color: white;
	border-radius: 30px;
	margin: 10px 10px 10px 0px;
}

input[type="text"] {
	border-radius: 30px 10px 10px 30px;
}

input[type="email"] {
	border-radius: 10px 30px 30px 10px;
}

textarea[placeholder="Message"] {
	width: 1010px;
	height: 500px;
	padding: 10px 10px 10px 20px;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 20px;
	background: transparent;
	border: 2px solid rgba(25, 25, 25, 1.0);
	color: white;
	border-radius: 30px 30px 5px 30px;
	margin: 10px 10px 20px 0px;
}

button[type="submit"] {
	display: block;
	background: url(bg.jpg);
	backdrop-filter: blur(30px);
	padding: 10px 30px;
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	color: whitesmoke;
	border-radius: 30px;
	border: 2px solid rgba(20, 20, 20, 1.0);
	margin: 0px 0px 0px 437.6415px;
	cursor: pointer;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 50px;
	transition: 0.3s;
}

button[type="submit"]:hover {
	backdrop-filter: blur(40px);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 80px;
	color: white;
}

footer {
	background: rgba(149, 157, 165, 0.2);
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	width: 1326px;
	margin: 20px 0px 20px 20px;
	height: 100px;
	padding: 20px 10px 20px 30px;
	border-radius: 45px;
	box-shadow: rgba(149, 157, 165, 0.25) 0px 0px 0px 2px;
	transition: 0.3s;
}

#footer-copyright {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 32px;
	font-weight: 600;
	color: white;
}